#include <zephyr/dt-bindings/pwm/pwm.h>

&timers1 {
    status = "okay";
    st,prescaler = <215>;  /* 216 MHz / 216 = 1 MHz timer clock */

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch2_pe11>;
        pinctrl-names = "default";
    };
};

&timers9 {
    status = "okay";
    st,prescaler = <107>;  /* 108 MHz / 108 = 1 MHz timer clock */

    pwm9: pwm {
        status = "okay";
        pinctrl-0 = <&tim9_ch1_pe5 &tim9_ch2_pe6>;
        pinctrl-names = "default";
    };
};

&timers4 {
    status = "okay";
    st,prescaler = <107>;  /* 108 MHz / 108 = 1 MHz timer clock */

    pwm4: pwm {
        status = "okay";
        pinctrl-0 = <&tim4_ch1_pd12>;
        pinctrl-names = "default";
    };
};

&timers8 {
    status = "okay";
    st,prescaler = <215>;  /* 216 MHz / 216 = 1 MHz timer clock */

    pwm8: pwm {
        status = "okay";
        pinctrl-0 = <&tim8_ch1_pc6>;
        pinctrl-names = "default";
    };
};

&pinctrl {
    tim1_ch2_pe11: tim1_ch2_pe11 {
        pinmux = <STM32_PINMUX('E', 11, AF1)>;
        slew-rate = "very-high-speed";
    };

    tim9_ch1_pe5: tim9_ch1_pe5 {
        pinmux = <STM32_PINMUX('E', 5, AF3)>;
        slew-rate = "very-high-speed";
    };

    tim9_ch2_pe6: tim9_ch2_pe6 {
        pinmux = <STM32_PINMUX('E', 6, AF3)>;
        slew-rate = "very-high-speed";
    };

    tim4_ch1_pd12: tim4_ch1_pd12 {
        pinmux = <STM32_PINMUX('D', 12, AF2)>;
        slew-rate = "very-high-speed";
    };

    tim8_ch1_pc6: tim8_ch1_pc6 {
        pinmux = <STM32_PINMUX('C', 6, AF3)>;
        slew-rate = "very-high-speed";
    };
};

/ {
    aliases {
        stepper-x = &stepper_x;
        stepper-y1 = &stepper_y1;
        stepper-y2 = &stepper_y2;
        stepper-z = &stepper_z;
        stepper-gripper = &stepper_gripper;
        servo-1 = &servo_1;
        servo-2 = &servo_2;
        servo-3 = &servo_3;
        servo-4 = &servo_4;
        chess-board = &chess_board;
        limit-switch-x = &limit_switch_x;
        limit-switch-y = &limit_switch_y;
        limit-switch-z = &limit_switch_z;
    };

    stepper_x: stepper-x {
        compatible = "custom,stepper";
        pwms = <&pwm1 2 1000000 PWM_POLARITY_NORMAL>;
        dir-gpios = <&gpiof 14 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
        steps-per-rev = <200>;
        max-speed-hz = <10000>;
    };

    stepper_y1: stepper-y1 {
        compatible = "custom,stepper";
        pwms = <&pwm9 1 1000000 PWM_POLARITY_NORMAL>;
        dir-gpios = <&gpiof 4 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
        steps-per-rev = <200>;
        max-speed-hz = <10000>;
    };

    stepper_y2: stepper-y2 {
        compatible = "custom,stepper";
        pwms = <&pwm9 2 1000000 PWM_POLARITY_NORMAL>;
        dir-gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
        steps-per-rev = <200>;
        max-speed-hz = <10000>;
    };

    stepper_z: stepper-z {
        compatible = "custom,stepper";
        pwms = <&pwm4 1 1000000 PWM_POLARITY_NORMAL>;
        dir-gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
        steps-per-rev = <200>;
        max-speed-hz = <10000>;
    };

    stepper_gripper: stepper-gripper {
        compatible = "custom,stepper";
        pwms = <&pwm8 1 1000000 PWM_POLARITY_NORMAL>;
        dir-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
        steps-per-rev = <200>;
        max-speed-hz = <5000>;
    };

    /* Servos */
    servo_1: servo-1 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 10 GPIO_ACTIVE_HIGH>;
    };

    servo_2: servo-2 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 11 GPIO_ACTIVE_HIGH>;
    };

    servo_3: servo-3 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 12 GPIO_ACTIVE_HIGH>;
    };

    servo_4: servo-4 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 13 GPIO_ACTIVE_HIGH>;
    };

    chess_board: chess-board {
        compatible = "custom,chess-board-matrix";
        row-gpios = <&gpiof 1 GPIO_ACTIVE_HIGH>,
                    <&gpioe 4 GPIO_ACTIVE_HIGH>,
                    <&gpiof 0 GPIO_ACTIVE_HIGH>,
                    <&gpioe 5 GPIO_ACTIVE_HIGH>,
                    <&gpiod 1 GPIO_ACTIVE_HIGH>,
                    <&gpiof 2 GPIO_ACTIVE_HIGH>,
                    <&gpiod 0 GPIO_ACTIVE_HIGH>,
                    <&gpiof 8 GPIO_ACTIVE_HIGH>;

        col-gpios = <&gpiog 0 GPIO_ACTIVE_HIGH>,
                    <&gpiof 9 GPIO_ACTIVE_HIGH>,
                    <&gpioe 1 GPIO_ACTIVE_HIGH>,
                    <&gpiog 1 GPIO_ACTIVE_HIGH>,
                    <&gpiog 9 GPIO_ACTIVE_HIGH>,
                    <&gpioe 6 GPIO_ACTIVE_HIGH>,
                    <&gpiog 12 GPIO_ACTIVE_HIGH>,
                    <&gpiog 15 GPIO_ACTIVE_HIGH>;

        pull-up;
        switch-active-high;
    };

    limit_switch_x: limit-switch-x {
        compatible = "custom,limit-switch";
        out-gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
        in-gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;
        active-high;
    };

    limit_switch_y: limit-switch-y {
        compatible = "custom,limit-switch";
        out-gpios = <&gpioe 14 GPIO_ACTIVE_HIGH>;
        in-gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
        active-high;
    };

    limit_switch_z: limit-switch-z {
        compatible = "custom,limit-switch";
        out-gpios = <&gpiof 12 GPIO_ACTIVE_HIGH>;
        in-gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;
        active-high;
    };
};
