/*
 * DT overlay on NUCLEO-F767ZI
 */

/ {
    aliases {
        stepper-x = &stepper_x;
        stepper-y1 = &stepper_y1;
        stepper-y2 = &stepper_y2;
        stepper-z = &stepper_z;
        stepper-gripper = &stepper_gripper;
        servo-1 = &servo_1;
        servo-2 = &servo_2;
        servo-3 = &servo_3;
        servo-4 = &servo_4;
        chess-board = &chess_board;
        limit-switch-x = &limit_switch_x;
        limit-switch-y = &limit_switch_y;
        limit-switch-z = &limit_switch_z;
    };

    /* Stepper motors */
    stepper_x: stepper-x {
        compatible = "custom,stepper";
        pulse-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpiof 14 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
        /* dir-inverted; */
    };

    stepper_y1: stepper-y1 {
        compatible = "custom,stepper";
        pulse-gpios = <&gpiof 5 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpiof 4 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
    };

    stepper_y2: stepper-y2 {
        compatible = "custom,stepper";
        pulse-gpios = <&gpiof 10 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
        /* dir-inverted; */
    };

    stepper_z: stepper-z {
        compatible = "custom,stepper";
        pulse-gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
    };

    stepper_gripper: stepper-gripper {
        compatible = "custom,stepper";
        pulse-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
    };

    /* Servos */
    servo_1: servo-1 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 10 GPIO_ACTIVE_HIGH>;
    };

    servo_2: servo-2 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 11 GPIO_ACTIVE_HIGH>;
    };

    servo_3: servo-3 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 12 GPIO_ACTIVE_HIGH>;
    };

    servo_4: servo-4 {
        compatible = "custom,servo";
        control-gpios = <&gpioh 13 GPIO_ACTIVE_HIGH>;
    };

    /* Chess board matrix
     * Pull-up and switch-active-high properties are optional; presence means true.
     */
    chess_board: chess-board {
        compatible = "custom,chess-board-matrix";
        row-gpios = <&gpiof 1 GPIO_ACTIVE_HIGH>,
                    <&gpioe 4 GPIO_ACTIVE_HIGH>,
                    <&gpiof 0 GPIO_ACTIVE_HIGH>,
                    <&gpioe 5 GPIO_ACTIVE_HIGH>,
                    <&gpiod 1 GPIO_ACTIVE_HIGH>,
                    <&gpiof 2 GPIO_ACTIVE_HIGH>,
                    <&gpiod 0 GPIO_ACTIVE_HIGH>,
                    <&gpiof 8 GPIO_ACTIVE_HIGH>;

        col-gpios = <&gpiog 0 GPIO_ACTIVE_HIGH>,
                    <&gpiof 9 GPIO_ACTIVE_HIGH>,
                    <&gpioe 1 GPIO_ACTIVE_HIGH>,
                    <&gpiog 1 GPIO_ACTIVE_HIGH>,
                    <&gpiog 9 GPIO_ACTIVE_HIGH>,
                    <&gpioe 6 GPIO_ACTIVE_HIGH>,
                    <&gpiog 12 GPIO_ACTIVE_HIGH>,
                    <&gpiog 15 GPIO_ACTIVE_HIGH>;

        pull-up;
        switch-active-high;
    };

    /* Limit switches for homing (rolling lever type, Normally Open)
     * OUT pins supply VCC to the switch, IN pins read the state.
     * When switch is pressed, OUT connects to IN -> IN reads HIGH.
     * Using pull-down on IN pins so unpressed = LOW, pressed = HIGH.
     */
    limit_switch_x: limit-switch-x {
        compatible = "custom,limit-switch";
        out-gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;  /* PE13 - power/signal out */
        in-gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;   /* PF13 - read input */
        active-high;  /* Triggered when IN reads HIGH */
    };

    limit_switch_y: limit-switch-y {
        compatible = "custom,limit-switch";
        out-gpios = <&gpioe 14 GPIO_ACTIVE_HIGH>;  /* PE14 - power/signal out */
        in-gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;   /* PE15 - read input (single switch for Y1 & Y2) */
        active-high;
    };

    limit_switch_z: limit-switch-z {
        compatible = "custom,limit-switch";
        out-gpios = <&gpiof 12 GPIO_ACTIVE_HIGH>;  /* PF12 - power/signal out */
        in-gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;   /* PG14 - read input */
        active-high;
    };
};
